body {
  background-color: #6287b4;
  padding: 0px 20px 0px 20px;
}
#SignInDiv {
  text-align: end;
}
h1 {
  margin-top: 20px;
}
#Buttons {
  text-align: end;
}
#ArticlesTitle {
  justify-items: end;
}
#article {
  background-color: white;
  display: flex;
  
}
#articles {
  width: 20%;
  background-color: blue;
  padding: 20px;
}
.list {
  list-style: none;
}
#whitearea {
  background-color: white;
  border: 2px solid red;
}
a {
  text-decoration: none;
}
li {
  margin-bottom: 20px;
}

#Div2 {
  display: flex;
  flex-direction: column;
  justify-items: end;
  padding: 35px;
}

#DivInfo {
  display: flex;
  flex-direction: column;
  justify-items: end;
}
#articleInfo{
     padding: 35px;
background-color: white;
  display: flex;
flex-direction: column;
}
#footer{
    display: flex;
   
    
}
#link{
    margin-left: 15px;
}
#Buttons{
margin: 2px;

}
.LinksB{
    padding: 10px;
    color: blue;
}